body
{
       @media only screen and (max-width: 400px) {
                    body { font-size:90%;}
     }
}
#homePage {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}
h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
       font-size: 35px;
    padding: 15px;
  
    color: #073a63;
}
pre{
      font-family: 'Montserrat', sans-serif;
    text-align: center;
       font-size: 15px;
    padding: 15px;
  
    color: #073a63;
}

p{
      font-family: 'Montserrat', sans-serif;
    text-align: center;
       font-size: 15px;
    padding: 15px;
  
    color: #073a63;
}
h4{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
       font-size: 15px;
    padding: 15px;
  
    color: #073a63;
}

strong, b {
    font-weight: bold;
    padding-top:12px;
}
.introduction {
        float: left;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.menu{
   
    float: right;
    padding: 0;
    position: relative;
    background: #9e9e9e;

}



 h1 {
    color: rgb(7, 58, 99);
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    font-weight: 100;
    text-align: center;
    margin: 0;
     margin-top: 50px;
    /* opacity: 0.8; */
    letter-spacing: 1px;
}


* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;margin:0}

/* Slideshow container */
.slideshow-container {
width: 1240px;

  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 70%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .slprev, .slnext,.text {font-size: 11px}
}

#nav-trigger {
  display: none;
  text-align: center; }
  #nav-trigger span {
    display: inline-block;
    padding: 10px 30px;
    background-color: #70b6ef;
    color: white;
    cursor: pointer;
    text-transform: uppercase; }
    #nav-trigger span:after {
      display: inline-block;
      margin-left: 10px;
      width: 20px;
      height: 10px;
      content: "";
      border-left: solid 10px transparent;
      border-top: solid 10px #fff;
      border-right: solid 10px transparent; }
    #nav-trigger span:hover {
      background-color:  #073a63;; }
    #nav-trigger span.open:after {
      border-left: solid 10px transparent;
      border-top: none;
      border-bottom: solid 10px #fff;
      border-right: solid 10px transparent; }

/*nav {
  margin-bottom: 30px; }*/

nav#nav-main {
  background-color: #70b6ef;
  padding: 10px 0; }
  nav#nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  nav#nav-main li {
    display: inline-block;
    /*border-right: solid 1px #cc0028;*/
    padding: 0 5px; }
    nav#nav-main li:last-child {
      border-right: none; }
  nav#nav-main a {
    display: block;
    color: white;
    padding: 10px 30px; }
    nav#nav-main a:hover {
      background-color: #70b6ef;
      color: #fff; }

nav#nav-mobile {
  position: relative;
  display: none; }
  nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #073a63; }
  nav#nav-mobile li {
    display: block;
    padding: 5px 0;
    margin: 0 5px;
    border-bottom: solid 1px #073a63; }
    nav#nav-mobile li:last-child {
      border-bottom: none; }
  nav#nav-mobile a {
    display: block;
    color: white;
    padding: 10px 30px; }
    nav#nav-mobile a:hover {
      background-color: #073a63; 
      color: #fff; }

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 900px) {
  #nav-trigger {
    display: block; }

  nav#nav-main {
    display: none; }

  nav#nav-mobile {
    display: block; }
}
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: none;
    cursor: auto;
}

.w3-row-padding
{
    padding-top: 96px;
}
.boxed {
    border-radius: 25px;
    background:rgba(171, 170, 170, 0.07);
    padding: 20px;
    width: 1240px;
    height: auto;
    margin: auto;
    padding-top: 15px;
    margin-top: 40px;


 } 

.boxedkala {
    border-radius: 25px;
    background:rgba(171, 170, 170, 0.07);
   float:left;
    width: 30%;

    height: auto;
        margin-left: 5%;
    padding-top: 15px;
    margin-top: 40px;

 } 

.boxedkala2 {
    border-radius: 25px;
    background:rgba(171, 170, 170, 0.07);
  float:left;
    width: 30%;

    height: auto;
        margin-left: 30%;
    padding-top: 15px;
    margin-top: 40px;

 } 
p{
    text-align:center;
        font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 100;
   
    margin: 0;
  
    letter-spacing: 1px;
}
li{
          font-family: 'Raleway', sans-serif;
    text-align: left;
       font-size: 18px;
    padding: 15px;
  
    color: #073a63;
}
.gallery{
    text-align: center;
        margin-right: 250px;
margin-left: 250px;
  
}
.price{
    padding-top:115px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 1240px;
        margin:auto;
    border: 1px solid #ddd;
}

th, td {
    border: none;
        text-align: center;
    padding: 10px;
}

tr:nth-child(even){background-color: #f2f2f2}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
hr{
    width: 55%;
    color:#70b6ef;
 
}
.form-control {
    background-color: #f9f9f9;
    border: 1px solid #E0E0E0;
    border-radius: 0px;
    box-shadow: none;
    height: auto;
    padding: 14px 28px;
        width: 600px;
        font-size: 1rem;
    line-height: 1.5;
    color: #55595c;
    margin-left:28%;
}

input#cfsubmit {
    background-color: transparent;
    border: 1px solid #70b6ef;
    border-radius: 0px;
    color: #70b6ef;
    margin: 20px 0px 40px 0px;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
}

.btn {
    display: inline-block;
    padding: .375rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
  

input {
    width: 250px;
    padding:5px;
    margin: 10px;
}

textarea {
    font-family: Raleway, sans-serif;
    letter-spacing: 1px;
}


.contact-info .data i {
    background: #C78443;
    border-radius: 50%;
    border: 1px solid #C78443;
    color: #ffffff;
    font-size: 25px;
    height: 60px;
    line-height: 60px;
    margin-right: 20px;
    text-align: center;
    width: 60px;
}
    img{
/*margin-left: 15px;*/
 margin-top: 3%;  
 vertical-align: middle;
    display: inline-block;
    position: relative;
    top: 50px;
    left: 5px;
}
    }



.detail{
    margin:35px;
        text-align: center;
    padding-bottom: 10px;
}
dd{
     font-family: 'Raleway',sans-serif;
      vertical-align: middle;
        display: block;
    -webkit-margin-start:  22%;
}

.form-group{
    padding-top: 15px;
}
.groupForm{
    padding-top: 95px;
}

    .googleMap {
         overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:550px;
    width:1200px;
    
   
    }
    .googleMap iframe {
          left:50%;
    top:0;
   
    position:absolute;
        
        
    }


    @media screen and (max-width: 480px) {
}